<!DOCTYPE html>
<html>

<head>
  <title>jaken</title>
</head>

<body>
  <div th:if="${username}">
    <p>Hi [[${username}]]</p>
    <p><a href="/logout">ログアウト</a></p>
    <a href="/janken?hand=gu">グー</a>
    <a href="/janken?hand=choki">チョキ</a>
    <a href="/janken?hand=pa">パー</a>
  </div>

  <div th:if="${result}">
    <p>あなたの手 [[${playerHand}]]</p>
    <p>相手の手 [[${cpuHand}]]</p>
    <p>結果 [[${result}]]</p>
  </div>

  <th:block th:if="${users}">
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a></li>
    </ul>
  </th:block>

  </th:block>

  <a th:href="@{/logout}">ログアウト</a>
  </th:block>


</body>

</html>
